#gallery {
    position: relative;
}

#gallery .gallery-nav {
    border: 0;
    margin: 0;
    padding: 10px;
    display: inline-block;
    width: 9%;
    background-color: #fff8be;
    color: #242424;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#gallery button {
    border: none;
    cursor: pointer;
    padding: 2px 2px 2px 2px;
}

#gallery button:hover {
    border: 2px solid white;
}

#gallery button:active {
    border: 2px solid white;
    padding: 4px 0 0 4px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#gallery button:focus {
    outline: none;
}

#gallery .slides {
    position: relative;
    height: 600px;
}

#gallery .image-slideshow {
    width: 80%;
    padding-bottom: 0;
    height: 600px;
    display: inline-block;
    box-sizing: border-box;
    background: black;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#gallery .title {
    font-size: 2em;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}