body {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    font-family: 'Signika', sans-serif;
    color: #444;
    background-image: url('../images/bg-gradient.png');
    background-attachment: fixed;
}

#app {
    background: url('../images/hex-background.png') no-repeat left bottom;
    background-attachment: fixed;
}

#content-wrapper {
    margin: auto;
    width: 80%;
    max-width: 1000px;
}

#content {
    transition: 250ms;

    & .text-paragraph {
        margin: 10px;
        font-size: 1.2em;

        & p {
            text-indent: 1em;
        }
    }
}

a, app-link {
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: white;
    }
}

header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    box-shadow: rgb(140, 140, 140) 0 5px 5px;

    & h1 {
        margin: 0;
        padding: 0;
        border-bottom: 2px solid grey;
    }

    & .header-center {
        margin: auto;
        max-width: 1000px;
    }
}

#menu {
    top: 200px;
    left: 0;
    border-bottom: 2px solid grey;

    & ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
    }

    & li {
        margin: 0;
        padding: 0;
        display: inline;
    }

    & a {
        color: #444;
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        transition: 750ms;

        &:hover {
            background: #CCC;
            color: black;
            transition: 500ms;
        }

        &.red:hover {
            background: rgba(255, 49, 39, 0.46);
        }

        &.green:hover {
            background: #D5FFA8;
        }

        &.blue:hover {
            background: #568EB2;
        }

        &.yellow:hover {
            background: #FFFEA8;
        }
    }
}

footer {
    border-top: 2px solid grey;
    margin-top: 10px;
    padding: 10px 0 20px 0;

    & a {
        color: black;
        text-decoration: underline;

        &:hover {
            color: black;
        }
    }
}

.loading {
    background: url('../images/loading_spinner.gif') no-repeat center;
    min-width: 200px;
    min-height: 200px;
    opacity: 1;
    transition: 100ms;
}

/***** tiles */
.project-tiles {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;

    @media (max-width: 500px) {
        grid-template-columns: 100%;
    }
}

.tile {
    min-width: 150px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border-radius: 5px;
    transition: 500ms;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .25) 0 0 10px;

    &:hover {
        transition: 500ms;
    }

    &.red {
        background: #FF2E1E;

        &:hover {
            background: #FF8982;
        }
    }

    &.green {
        background: #93FFA4;

        &:hover {
            background: #D5FFA8;
        }
    }

    &.blue {
        background: #5E94CC;

        &:hover {
            background: #568EB2;
        }
    }

    &.yellow {
        background: #E8FF44;

        &:hover {
            background: #FFFEA8;
        }
    }
}

img.slide {
    width: 100%;
}

.tile-title {
    width: 100%;
    background: #333;
    color: white;
    font-size: 1.3em;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 4px;
}

.image-slideshow {
    position: relative;
    padding-bottom: 80%;
    overflow: hidden;

    & > .slide {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        transition: 500ms ease-out;

        &.slide-hidden {
            opacity: 0;
        }
    }
}

/*dark red B2554E
 light yellow E8FF44
 bold red FF2E1E
 light blue 5E94CC
 primary blue 1863B2
 primary green 45FF66
 */
.bg-black {
    background: black;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

/* pretend to be bootstrappy */
.col-1 { width: 8.3333333%; display: inline-block; }
.col-2 { width: 16.66666666666667%; display: inline-block; }
.col-3 { width: 25%; display: inline-block; }
.col-4 { width: 33.33333333333333%; display: inline-block; }
.col-5 { width: 41.66666666666667%; display: inline-block; }
.col-6 { width: 50%; display: inline-block; }
.col-7 { width: 58.33333333333333%; display: inline-block; }
.col-8 { width: 66.66666666666667%; display: inline-block; }
.col-9 { width: 75%; display: inline-block; }
.col-10 { width: 83.33333333333333%; display: inline-block; }
.col-11 { width: 91.66666666666667%; display: inline-block; }
.col-12 { width: 100%; display: inline-block; }
