.game {
    background: #EFEFEF;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .05);
}

.game .game-screenshot {
    width: 300px;
    box-sizing: border-box;
    margin-right: 20px;
    vertical-align: top;
    padding: 5px;
    height: 200px;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.game .description {
    padding-left: 10px;
    box-sizing: border-box;
}

.game .description h3 {
    font-size: 1.5em;
    margin-top: 0;
}

.game .description .updated {
    margin-bottom: 10px;
}

.game .description .links {
    position: relative;
}

.game .description .links .play {
    display: inline-block;
    position: absolute;
    top: 0;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #292929;
    border: solid transparent 2px;
    background: #92d89b;
    transition: 0.5s;
}

.game .description .links .play:hover {
    background: white;
    border: 2px solid #92d89b;
    transition: 0.5s;
}

.game .description .links .github {
    margin: 5px;
    display: inline-block;
}

.game .description .links .github img {
    height: 40px;
}

.game .description .tags .tag {
    display: inline-block;
    padding: 4px 8px;
    background: #b1d5f7;
    margin: 2px;
    border-radius: 4px;
}