.smartlaunch {
    margin: auto;
    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-template-rows: auto;
}

.smartlaunch .tile {
    width: auto;
    height: auto;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.smartlaunch .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}

.smartlaunch .screenshot {
    width: 250px;
    margin: auto auto 45px auto;
}

.smartlaunch .screenshot img {
    width: 100%;
}

.smartlaunch .links {
    position: absolute;
    bottom: 10px;
    margin-top: 10px;
}

.smartlaunch .links a {
    color: black;
    display: block;
    border: 1px solid #c1c1c1;
    padding: 6px;
    border-radius: 5px;
    background-color: #D5FFA8;
    transition-duration: .5s;
    transition-property: background, color;
}

.smartlaunch .links a:hover {
    text-decoration: none;
    color: grey;
    background-color: #93FFA4;
    transition-duration: .5s;
    transition-property: background, color;
}